.navbarlogodiv {
  margin-top: 3.1vh;
  margin-left: 4.1vw;
  width: 17rem;
  max-width: 50%;
  .navbarlogoimg {
    width: 100%;
  }
}

/** 
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2021 Christian Aichner
 */
