@import "../../../common/css/variables";

.houseInfo {
  border: 1px solid $lightgrey;

  .card-body {
    .imageWrapper {
      padding-right: 1rem;

      img {
        max-width: 200px;
      }
    }

    .infoWrapper {
      flex: 1;
    }

    .actionWrapper {
      align-items: center;
    }
  }
}

/**
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2021 Christian Aichner
 */
